# Security purposes
.envrc

# temporary files
*~
*.log
nohup.out
*.swp
.attach_pid*

# build related
target/
project/target
metals.sbt

# IDE related
.metals/
.bloop/
.bsp/
.vscode/
.idea/

tmp-*.gif
tmp-*.png

# application related
private-application*.conf
.lmdb/
